version: "3.9"
services:
  builder:
    build: ./builder
    volumes:
      - ./config:/work/config:ro                  # списки пакетов и фидов
      - ./output:/work/output                     # собранные образы
    environment:
      - OPENWRT_RELEASE=24.10.1
      - TARGET=x86
      - SUBTARGET=64
      - PROFILE=generic
      - ROOTFS_SIZE=512
      #- JOBS=4
    command: ["/work/build-image.sh"]
