name: Build OpenWrt Images

permissions:
  contents: write
  packages: read

on:
  push:
    tags:
      - "v*.*.*"      # запуск при создании тега версии

env:
  # переиспользуем дефолты, можно переопределять в Secrets/Variables
  OPENWRT_RELEASE: 24.10.1
  TARGET: x86
  SUBTARGET: 64
  PROFILE: generic
  ROOTFS_SIZE: 1024
  JOBS: 4            # меньше потоков = стабильнее CI

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Clean workspace
        run: make clean

      - name: Build OpenWrt images
        run: make build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: openwrt-images
          path: output/*

      - name: Create GitHub Release & attach images
        uses: softprops/action-gh-release@v2
        with:
          files: output/*
